#######
# APP #
#######

PORT=3000

NEXT_PUBLIC_APP_NAME="Merch Trading Platform"
NEXT_PUBLIC_APP_DESCRIPTION="A platform to make it easier to find partners to trade merch with."

NEXT_PUBLIC_APP_HOST="http://localhost:3100"

# Only set this if the base URL path is not "/"
# NEXT_PUBLIC_APP_BASE_PATH="/base/path"
